<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>ZyprrTestSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7ebfb6">  <td>21/04/01 17:27:10</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddTextAndSendToEMail.AddTextAndSendToEMail()[pri:0, instance:com.zyprr.test.testcase.recordandsend.AddTextAndSendToEMail@4b1d6571]">AddTextAndSendToEMail</td> 
  <td>main@1450500594</td>   <td></td> </tr>
<tr bgcolor="b2be7a">  <td>21/04/01 17:26:31</td>   <td>-38934</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTest.loadWebDriver(java.lang.String)[pri:0, instance:com.zyprr.test.ZipperHQLoggin@48e92c5c]">&gt;&gt;loadWebDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1450500594</td>   <td>1223240796 </td> </tr>
<tr bgcolor="b2be7a">  <td>21/04/01 17:27:10</td>   <td>-6</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTest.loadWebDriver(java.lang.String)[pri:0, instance:com.zyprr.test.testcase.recordandsend.AddTextAndSendToEMail@4b1d6571]">&gt;&gt;loadWebDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1450500594</td>   <td></td> </tr>
<tr bgcolor="b2be7a">  <td>21/04/01 17:27:35</td>   <td>25511</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTest.loadWebDriver(java.lang.String)[pri:0, instance:com.zyprr.test.ZipperHQLoggout@46dffdc3]">&gt;&gt;loadWebDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1450500594</td>   <td></td> </tr>
<tr bgcolor="73f9fc">  <td>21/04/01 17:26:42</td>   <td>-27744</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ZipperHQLoggin.loginTest()[pri:0, instance:com.zyprr.test.ZipperHQLoggin@48e92c5c]">loginTest</td> 
  <td>main@1450500594</td>   <td>1223240796 </td> </tr>
<tr bgcolor="bada62">  <td>21/04/01 17:27:35</td>   <td>25516</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ZipperHQLoggout.logoutTest()[pri:0, instance:com.zyprr.test.ZipperHQLoggout@46dffdc3]">logoutTest</td> 
  <td>main@1450500594</td>   <td></td> </tr>
<tr bgcolor="b2be7a">  <td>21/04/01 17:27:09</td>   <td>-290</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTest.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.zyprr.test.ZipperHQLoggin@48e92c5c]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@1450500594</td>   <td>1223240796 </td> </tr>
<tr bgcolor="b2be7a">  <td>21/04/01 17:27:35</td>   <td>25509</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTest.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.zyprr.test.testcase.recordandsend.AddTextAndSendToEMail@4b1d6571]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@1450500594</td>   <td></td> </tr>
<tr bgcolor="b2be7a">  <td>21/04/01 17:27:39</td>   <td>29581</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTest.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.zyprr.test.ZipperHQLoggout@46dffdc3]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@1450500594</td>   <td></td> </tr>
<tr bgcolor="bada62">  <td>21/04/01 17:27:39</td>   <td>29763</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ZipperHQLoggout.tearDown()[pri:0, instance:com.zyprr.test.ZipperHQLoggout@46dffdc3]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1450500594</td>   <td></td> </tr>
</table>
